# Data Collection

In [5]:
pip install scipy

Collecting scipy
  Using cached scipy-1.14.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\desiree\44688-data-analytics-capstone-project-desiree-thompson\ds-venv\lib\site-packages (from scipy) (2.0.0)
Using cached scipy-1.14.0-cp311-cp311-win_amd64.whl (44.7 MB)
Installing collected packages: scipy
Successfully installed scipy-1.14.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.5.0-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\desiree\44688-data-analytics-capstone-project-desiree-thompson\ds-venv\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\desiree\44688-data-analytics-capstone-project-desiree-thompson\ds-venv\lib\site-packages (from scikit-learn) (1.14.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.0-cp311-cp311-win_amd64.whl (11.0 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.0 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Import Libraries

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from scipy.io import arff

### Import Data

In [8]:
data, meta = arff.loadarff('bodyfat.arff')
df = pd.DataFrame(data)
print(df.head())

   Density   Age  Weight  Height  Neck  Chest  Abdomen    Hip  Thigh  Knee  \
0   1.0708  23.0  154.25   67.75  36.2   93.1     85.2   94.5   59.0  37.3
1   1.0853  22.0  173.25   72.25  38.5   93.6     83.0   98.7   58.7  37.3
2   1.0414  22.0  154.00   66.25  34.0   95.8     87.9   99.2   59.6  38.9
3   1.0751  26.0  184.75   72.25  37.4  101.8     86.4  101.2   60.1  37.3
4   1.0340  24.0  184.25   71.25  34.4   97.3    100.0  101.9   63.2  42.2

   Ankle  Biceps  Forearm  Wrist  class
0   21.9    32.0     27.4   17.1   12.3
1   23.4    30.5     28.9   18.2    6.1
2   24.0    28.8     25.2   16.6   25.3
3   22.8    32.4     29.4   18.2   10.4
4   24.0    32.2     27.7   17.7   28.7

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Density  252 non-null    float64
 1   Age      252 non-null    float64
 2   Weight   252 non-null    float64
 3   Height   252 non-null    float64
 4   Neck     252 non-null    float64
 5   Chest    252 non-null    float64
 6   Abdomen  252 non-null    float64
 7   Hip      252 non-null    float64
 8   Thigh    252 non-null    float64
 9   Knee     252 non-null    float64
 10  Ankle    252 non-null    float64
 11  Biceps   252 non-null    float64
 12  Forearm  252 non-null    float64
 13  Wrist    252 non-null    float64
 14  class    252 non-null    float64
dtypes: float64(15)
memory usage: 29.7 KB

In [12]:
df.describe()

,Density,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,class
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762,19.150794
std,0.019031,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585,8.368740
min,0.995000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000,0.000000
25%,1.041400,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000,12.475000
50%,1.054900,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000,19.200000
75%,1.070400,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000,25.300000
max,1.108900,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000,47.500000